@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
* {
    font-family: Open Sans, sans-serif;
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
header {
    background-image: url('../img/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
@media (min-width: 1145px) {
    header {
        height: 130vh;
    }
}
/*
    NAV BAR
*/
header nav {
    background-color: white;
    width: 90vw;
    margin: 1em auto;
    border-radius: 10px;
    /* position: relative; */
    position: fixed;
    left: 2em;
    z-index: 2;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul > * {
    display: flex;
    align-items: center;
}
header nav ul li:not(:first-child) {
    margin-right: 1em;
}
header nav ul li:first-child {
    margin-right: auto;
}
header nav ul li img {
    margin-left: 0.5em;
}
header nav ul li a {
    text-decoration: none;
    color: gray;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    transition: all 0.5s ease;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
/*  
    NAV HOVER ANIMATION
*/
header nav ul li a,
header nav ul li a:after {
  transition: all 0.5s;
}
header nav ul li a:hover {
  color: lightskyblue;
}
header nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  background: lightskyblue;
  height: 1px;
}
header nav ul li a:hover:after {
  width: 100%;
}
/*
    NAV TOGGLE
*/
header nav label {
    font-size: 2rem;
    margin-left: 0.5em;
    cursor: pointer;
    color: lightskyblue;
    display: none;
}
header nav label:hover {
    color: black;
}
#toggle {
    display: none;
}
#mobile-logo {
    display: none;
}
/*
    NAV MEDIA QUERY HEADER - FOR SMALL DEVICES
*/
@media (max-width: 875px) {
    header nav {
        padding: 0.5em;
    }
    header nav ul {
        flex-direction: column;
    }
    header nav ul li:first-child {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header nav ul li:not(:first-child) {
        margin-left: 2em;
        margin-bottom: 0.5em;
    }
    header nav ul li a {
        display: block;
        width: 50%;
        margin: auto;
        text-align: center;
    }
    /*
        NAV TOGGLE
    */
    header nav label {
        display: block;
    }
    .nav-menu {
        display: none;
    }
    #toggle:checked + .nav-menu {
        display: block;
    }
    header nav ul li:first-child {
        display: none;
    }
    #mobile-logo {
        display: block;
        position: fixed;
        left: 43%;
        z-index: 99;
        top: 1em;
        height: 58px;
    }
}
@media (max-width: 600px) {
    #mobile-logo {
        left: 40%;
    }
}
/*
    HEADER HERO
*/
header .hero {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}
.hero-text { /* first flex container  */
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    flex: 1.5;
    padding-left: 2em;
    padding-top: 3em;
}
.hero-text h1 {
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 8px;
    text-align: left;
}
.hero-text h1.span {
    margin-top: -1em;
    font-size: 7rem;
    font-weight: 400;
}
.hero-logo { /* second flex container  */
    flex: 3
}
.hero-logo img {
    width: 100%;
}
@media (max-width: 1200px) {
    .hero-text h1 {
        font-size: 5rem;
    }
    .hero-text h1.span {
        font-size: 6rem;
    }
}
@media (max-width: 875px) {
    header .hero {
        justify-content: center;
        flex-direction: column;
    }
    .hero-text {
        padding: 0;
    }
    .hero-text {
        max-height: 200px;
    }
    .hero-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-logo img {
        height: 350px;
        width: 500px;

    }
    .hero-text h1 {
        font-size: 4rem;
        text-align: center;
    }
    .hero-text h1.span {
        font-size: 5rem;
    }   
}
/*
    HEADER BITCOINS
*/
.bitcoin {
    position: absolute;
    left: 2em;
    top: 80vh;
}
.bitcoin-inner {
    position: relative;
}
.coin1 {
    width: 150px;
    z-index: 1;
    position: absolute;
}
.coin2 {
    position: absolute;
    width: 100px;
    left: 130px;
    top: 40px;
}
@media (min-width: 1145px) {
    .bitcoin {
        top: 110vh;
    }
    .coin1 {
        width: 180px;
    }
    .coin2 {
        width: 130px;
        left: 150px;
    }
}







/*
    SERVICES SECTION
*/
section {

}